<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lognet Exam</title>
    <link class="cssfx" rel="stylesheet" href="styles/font-awesome.min.css">
    <link class="cssfx" rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <link class="cssfx" rel="stylesheet" href="styles/main.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="styles/font-awesome-ie7.css">
    <![endif]-->
</head>
<body>
    <div class="wrapper">
        <div id="app" class="slider">
            <div class="header">
                <div class="dropdown">
                    <div class="select">
                        <input id="date" name="datefilter" placeholder="הכל" />
                    </div>
                    <span>תאריך</span>
                </div>
                <div class="dropdown">
                    <div class="select">
                        <select id="dest" dir="rtl">
                            <option value="all">כל היעדים</option>
                            <option value="amsterdam">אמסטרדם</option>
                            <option value="berlin">ברלין</option>
                        </select>
                    </div>
                    <span>יעד</span>
                </div>
                <div class="dropdown last">
                    <div class="select">
                        <select id="type" dir="rtl">
                            <option value="all">הכל</option>
                            <option value="hotel">מלון</option>
                            <option value="flight">טיסה</option>
                            <option value="flight+hotel">מלון+טיסה</option>
                        </select>
                    </div>
                    <span>סוג</span>
                </div>
            </div>
            <div class="container">
                <div class="left_arrow"><a href="#left"><i class="fa fa-angle-left" aria-hidden="true"></i></a></div>
                <div class="packages">
                    <div class="container">
                        <div class="card" v-for="package in packages" v-if="
                                (filters.type == package.type || filters.type == 'all') &&
                                (filters.dest == package.dest || filters.dest == 'all') &&
                                (filters.date == package.date || filters.date == '')">
                            <div class="inner">
                                <h3><a href="#package">{{package.title}}</a></h3>
                                <div class="top">
                                    <div class="date">{{package.date}}</div>
                                    <div class="desc">{{package.hotel}}</div>
                                    <div class="rating">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star empty" aria-hidden="true"></i>
                                    </div>
                                    <div class="period">{{package.period}}</div>
                                </div>
                                <div class="bottom">
                                    <div class="price">${{package.price}}</div>
                                    <div class="age" v-if="package.price_type == 'adult'">
                                        מחיר למבוגר
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right_arrow"><a href="#right"><i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
            </div>
        </div>
    </div>
    <script src="scripts/cssfx.js"></script>
    <script src="scripts/vue.min.js"></script>
    <script src="scripts/ruddy.js"></script>
    <script src="scripts/ajax.js"></script>
    <script src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <script>

            $r({url: 'data/packages.json'}).ajax({
                method: 'GET',
                callback: init
            });

            function init(error, res) {
                var data = JSON.parse(res.body),
                        app = new Vue({
                            el: '#app',
                            data: data
                        }),
                        filter = function (filterName) {
                            return function() {
                                var filter = $r('#' + filterName).value();

                                if(filter != app.filters[filterName]) {
                                    $r('.packages .container').setTranslateX(0);
                                    app.filters[filterName] = filter;
                                }
                            };
                        };


                $('#date').daterangepicker({
                    autoUpdateInput: false,
                    locale: {
                        cancelLabel: 'Clear'
                    }
                });

                $('#date').on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format('DD/MM/YY') + ' - ' + picker.endDate.format('DD/MM/YY'));
                    filter('date')();
                });

                $('#date').on('cancel.daterangepicker', function(ev, picker) {
                    $(this).val('');
                    filter('date')();
                });

                $r('.right_arrow').on('click', function(e, t) {
                    var
                            packagesWidth   = $r('.packages').size('width'),
                            containerWidth  = $r('.packages .container').size('width'),
                            x               = $r('.packages .container').getTranslate().x;

                    if(containerWidth > packagesWidth && containerWidth+x > packagesWidth) {
                        $r('.packages .container').setTranslateX(x-160);
                    }
                });


                $r('.left_arrow').on('click', function(e, t) {
                    var containerWidth  = $r('.packages .container').size('width'),
                            packagesWidth   = $r('.packages').size('width'),
                            x               = $r('.packages .container').getTranslate().x;

                    if(x < 0) {
                        $r('.packages .container').setTranslateX(x+160);
                    }
                });
                $r('#dest').on('change', filter('dest'));
                $r('#type').on('change', filter('type'));
            }
    </script>
</body>
</html>